<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morphe</title>
    <link rel="stylesheet" href="programmer-home.css">
</head>
<body>
    
    <div id="header">

        <img src="" alt="Logo" id="logo">


        <div id="timeclass">
            Timer
        </div>


        <div id="right-header">
            <a href="" class="headericon">Profile</a>
        
            <a href="" class="headericon">Project</a>
        
            <a href="../index.html" class="headericon">Log out</a>
        </div>

    </div>

    <div id="center">

        <div id="searchwindow">
            <h1>Job search</h1>

            <table>
                <tr>
                    <td>Language: </td>
                    <td><input type="text" id="tehnologyfield"></td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="search"></td>
                </tr>
            </table>

        </div>

        <br><br>

        <h3>Results:</h3>
        <br><br>

        <table>
            <tr>
                <td>
                    <div class="search-resault">
                        <table>
                            <tr>
                                <td>Client: </td>
                                <td>Marko Ivanovic</td>
                                <td><a href="">See profile</a></td>
                            </tr>
                            <tr>
                                <td>Language:</td>
                                <td>php</td>
                                <td></td>
            
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="2">We work on a project called ... where we build web application(online shop) who works with appache server and we need programmers
                                    which are experinced with php.
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="button" value="apply" class="applybutton"></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </td>

                <td>
                    <div class="search-resault">
                        <table>
                            <tr>
                                <td>Client: </td>
                                <td>Marko Ivanovic</td>
                                <td><a href="">See profile</a></td>
                            </tr>
                            <tr>
                                <td>Language:</td>
                                <td>php</td>
                                <td></td>
            
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="2">We work on a project called ... where we build web application(online shop) who works with appache server and we need programmers
                                    which are experinced with php.
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="button" value="apply" class="applybutton"></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        
        

    </div>

    <div id="left">
        <h1>Notifications:</h1>
    </div>


</body>
</html>